.calcul {
  background-color: #2E2D32;
  width: 460px;
  height: 700px;
}

.keys {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

input[type=text] {
  border: none;
  background-color: #2E2D32;
  color: white;
  height: 80px;
  font-size: 80px;
  padding-top: 50px;
  padding-left: 240px;
  width: 219px;
}

input[type=button] {
  width: 115px;
  border: none;
  background-color: #2E2D32;
  color: white;
  font-size: 20px;
  padding-top: 60px;
  outline: none;
  cursor: pointer;
}