body,html {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: #DEDFD9;
}

.calcul {
  background-color: #2E2D32;
  width: 380px;
  height: 600px;
  margin: 50px auto;
}

.keys {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.button {
  width: 95px;
  height: 95px;
  text-align: center;
}

input[type=text] {
  border: none;
  background-color: #2E2D32;
  color: white;
  height: 80px;
  font-size: 80px;
  padding-top: 50px;
  width: 90%;
  text-align: right;
}

input[type=button] {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background-color: #2E2D32;
  color: white;
  font-size: 20px;
  outline: none;
  cursor: pointer;
}

input[type=button]:hover {
  background-color: #F7C754;
}
